# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Helm chart value
/deploy/research-platform/values-secure.yaml

# SAM (S/W Architecture Maturity) directory
.sam-dir
